*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    
}
body{
    background-color: #333;
    display: flex;
    flex-direction: column;
}

header{
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px #0005;
}

.logo{
    width: 120px;
    margin: 0 50px;
}

.navegacion{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: #000;
}
.navegacion__btn{
    color: aliceblue;
    text-decoration: none;
    margin: 0 15px;
    transition-property: color ;
    transition-duration: 0.3s;
}

.navegacion__btn:hover{
    color: #ccc;
}
.navegacion__btn--registrase{
    position: absolute;
    right: 0;
}
.buscador{
    display: flex;
    position:relative;
    left: 16%;
    height: 60%;
    width: 26%;
    
    flex-wrap: nowrap;
    
}
.buscador__search{
    width: 80%;
    height: 100%;
    outline: none;
}
.buscador__btn{
    height: 100%;
    padding: 0 10px;
}

.main{
    width: 100vw;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    padding: 60px;
    width: 30%;
    border-radius: 50px;
    border: solid 1px #0003;
}